WCFSBA/WebApplication3/Connected Services/ServiceReference1/supliermanager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcfsba" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcfsba" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSUPPLIER">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SUPPLIER" nillable="true" type="tns:SUPPLIER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSUPPLIER" nillable="true" type="tns:ArrayOfSUPPLIER" />
  <xs:complexType name="SUPPLIER">
    <xs:sequence>
      <xs:element minOccurs="0" name="SUPLADDR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUPLNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUPLNO" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SUPPLIER" nillable="true" type="tns:SUPPLIER" />
</xs:schema>