WCFSBA/WebApplication3/Connected Services/ServiceReference1/supliermanager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64380/supliermanager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcfsba" />
  <xs:element name="GetSUPPLIERs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSUPPLIERsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wcfsba" minOccurs="0" name="GetSUPPLIERsResult" nillable="true" type="q1:ArrayOfSUPPLIER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUPPLIER">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUPPLIERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcfsba" minOccurs="0" name="GetUPPLIERResult" nillable="true" type="q2:SUPPLIER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wcfsba" minOccurs="0" name="obj" nillable="true" type="q3:SUPPLIER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wcfsba" minOccurs="0" name="obj" nillable="true" type="q4:SUPPLIER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>